@import url('https://fonts.googleapis.com/css?family=Rubik');
@import "navigation.css";
@import "section-one.css";
@import "section-two.css";
@import "section-three.css";
@import "footer.css";



html,body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #eeeeee;
  font-family: 'Rubik', sans-serif;
}

h3 {
  text-align: center;
}



.space {
  width: 100%;
  height: 10px;
}

/*-container-*/

.container {
  margin: 0 auto;
  width: 1200px;
  height: 1000px;
}

/*-/container-*/









/*--other--*/







